<ion-content [fullscreen]="true">
  <div class="container" id="container">
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <tr>
            <td>
              <p>Name</p>
            </td>
            <td>{{details.name}}</td>
          </tr>
          <tr>
            <td>
              <p>Insurance Upto</p>
            </td>
            <td>{{details.insurance}}</td>
          </tr>
          <tr>
            <td>
              <p>Fuel Type</p>
            </td>
            <td>{{details.fuel-type}}</td>
          </tr>
          <tr>
            <td>
              <p>Make</p>
            </td>
            <td>{{details.make}}</td>
          </tr>
          <tr>
            <td>
              <p>Model</p>
            </td>
            <td>{{details.model}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ion-content>
